<div class="container-fluid tab-card">
	<div class="row">
		<div class="col-md-3">
            <img src="assets\images\nextpng.com.png" style="width: 100%;" />
		</div>
		<div class="col-md-9">
            <div class="row">
              <div class="col-sm-4">
                <div class="marge-card mb-3">
                  <app-card [hidHeader]="true" cardClass="mb-0">
                    <h5 class="card-title text-center">ประกันภัยรถยนต์</h5>
                    <img class="card-img-top" src="assets/images/slider/img-slide-3.jpg" alt="Card image cap" />
                    <div class="row">
                      <div class="col text-center ">
                        <button type="button" class="mt-3 btn btn-warning" [routerLink]="['/car']">เลือกเลย</button>
                      </div>
                    </div>
                  </app-card>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="marge-card mb-3">
                  <app-card [hidHeader]="true" cardClass="mb-0">
                    <h5 class="card-title text-center">พ.ร.บ.รถยนต์</h5>
                    <img class="card-img-top" src="assets/images/slider/img-slide-3.jpg" alt="Card image cap" />
                    <div class="row">
                      <div class="col text-center ">
                        <button type="button" class="mt-3 btn btn-warning" [routerLink]="['/car']">เลือกเลย</button>
                      </div>
                    </div>
                  </app-card>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="marge-card mb-3">
                  <app-card [hidHeader]="true" cardClass="mb-0">
                    <h5 class="card-title text-center">ประกันรถมอเตอร์ไซค์</h5>
                    <img class="card-img-top" src="assets/images/slider/img-slide-3.jpg" alt="Card image cap" />
                    <div class="row">
                      <div class="col text-center ">
                        <button type="button" class="mt-3 btn btn-warning" [routerLink]="['/car']">เลือกเลย</button>
                      </div>
                    </div>
                  </app-card>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="marge-card mb-3">
                  <app-card [hidHeader]="true" cardClass="mb-0">
                    <h5 class="card-title text-center">พ.ร.บ.รถมอเตอร์ไซค์</h5>
                    <img class="card-img-top" src="assets/images/slider/img-slide-3.jpg" alt="Card image cap" />
                    <div class="row">
                      <div class="col text-center ">
                        <button type="button" class="mt-3 btn btn-warning" [routerLink]="['/car']">เลือกเลย</button>
                      </div>
                    </div>
                  </app-card>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="marge-card mb-3">
                  <app-card [hidHeader]="true" cardClass="mb-0">
                    <h5 class="card-title text-center">พ.ร.บ.รถมอเตอร์ไซค์</h5>
                    <img class="card-img-top" src="assets/images/slider/img-slide-3.jpg" alt="Card image cap" />
                    <div class="row">
                      <div class="col text-center ">
                        <button type="button" class="mt-3 btn btn-warning" [routerLink]="['/car']">เลือกเลย</button>
                      </div>
                    </div>
                  </app-card>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="marge-card mb-3">
                  <app-card [hidHeader]="true" cardClass="mb-0">
                    <h5 class="card-title text-center">พ.ร.บ.รถมอเตอร์ไซค์</h5>
                    <img class="card-img-top" src="assets/images/slider/img-slide-3.jpg" alt="Card image cap" />
                    <div class="row">
                      <div class="col text-center ">
                        <button type="button" class="mt-3 btn btn-warning" [routerLink]="['/car']">เลือกเลย</button>
                      </div>
                    </div>
                  </app-card>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="marge-card mb-3">
                  <app-card [hidHeader]="true" cardClass="mb-0">
                    <h5 class="card-title text-center">ประกันไวรัสโคโรนา</h5>
                    <img class="card-img-top" src="assets/images/slider/img-slide-3.jpg" alt="Card image cap" />
                    <div class="row">
                      <div class="col text-center ">
                        <button type="button" class="mt-3 btn btn-warning" [routerLink]="['/car']">เลือกเลย</button>
                      </div>
                    </div>
                  </app-card>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="marge-card mb-3">
                  <app-card [hidHeader]="true" cardClass="mb-0">
                    <h5 class="card-title text-center">ประกันอุบัติเหตุส่วนบุคคล</h5>
                    <img class="card-img-top" src="assets/images/slider/img-slide-3.jpg" alt="Card image cap" />
                    <div class="row">
                      <div class="col text-center ">
                        <button type="button" class="mt-3 btn btn-warning" [routerLink]="['/car']">เลือกเลย</button>
                      </div>
                    </div>
                  </app-card>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="marge-card mb-3">
                  <app-card [hidHeader]="true" cardClass="mb-0">
                    <h5 class="card-title text-center">ประกันโรคร้ายแรง</h5>
                    <img class="card-img-top" src="assets/images/slider/img-slide-3.jpg" alt="Card image cap" />
                    <div class="row">
                      <div class="col text-center ">
                        <button type="button" class="mt-3 btn btn-warning" [routerLink]="['/car']">เลือกเลย</button>
                      </div>
                    </div>
                  </app-card>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="marge-card mb-3">
                  <app-card [hidHeader]="true" cardClass="mb-0">
                    <h5 class="card-title text-center">ประกันการเดินทาง
                    </h5>
                    <img class="card-img-top" src="assets/images/slider/img-slide-3.jpg" alt="Card image cap" />
                    <div class="row">
                      <div class="col text-center ">
                        <button type="button" class="mt-3 btn btn-warning" [routerLink]="['/car']">เลือกเลย</button>
                      </div>
                    </div>
                  </app-card>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="marge-card mb-3">
                  <app-card [hidHeader]="true" cardClass="mb-0">
                    <h5 class="card-title text-center">ประกันสุขภาพ</h5>
                    <img class="card-img-top" src="assets/images/slider/img-slide-3.jpg" alt="Card image cap" />
                    <div class="row">
                      <div class="col text-center ">
                        <button type="button" class="mt-3 btn btn-warning" [routerLink]="['/car']">เลือกเลย</button>
                      </div>
                    </div>
                  </app-card>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="marge-card mb-3">
                  <app-card [hidHeader]="true" cardClass="mb-0">
                    <h5 class="card-title text-center">ประกันบ้านและทรัพย์สิน
                    </h5>
                    <img class="card-img-top" src="assets/images/slider/img-slide-3.jpg" alt="Card image cap" />
                    <div class="row">
                      <div class="col text-center ">
                        <button type="button" class="mt-3 btn btn-warning" [routerLink]="['/car']">เลือกเลย</button>
                      </div>
                    </div>
                  </app-card>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="marge-card mb-3">
                  <app-card [hidHeader]="true" cardClass="mb-0">
                    <h5 class="card-title text-center">ประกันกลุ่ม
                    </h5>
                    <img class="card-img-top" src="assets/images/slider/img-slide-3.jpg" alt="Card image cap" />
                    <div class="row">
                      <div class="col text-center ">
                        <button type="button" class="mt-3 btn btn-warning" [routerLink]="['/car']">เลือกเลย</button>
                      </div>
                    </div>
                  </app-card>
                </div>
              </div>

            </div>
		</div>
    </div>
    <app-card [hidHeader]="true" >
        <img data-src="" src="https://d1lcu695erj7bo.cloudfront.net/media/27611/27611/1597071363-th_bigbanner_motherday_campaign2020.png">
    </app-card>
    <app-card [hidHeader]="true" >
        <a href="/ประกันภัยรถยนต์/promotions/addline" target="_blank">
            <img data-src="" src="https://d1lcu695erj7bo.cloudfront.net/media/26519/26519/1597071359-addline-bigbanner.png"><br>
          </a>
    </app-card>
     <app-card [hidHeader]="true" >
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/gSI7Yuctjb4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     </app-card>
      <app-card [hidHeader]="true" >
        <div class="edi-section-header__container">
            <div class="edi-section-header__heading  ">
                <div class="edi-section-header__heading-title"><h2>วิธีใหม่ในการซื้อประกันออนไลน์</h2></div>
                <slot name="after-heading"></slot>
            </div>

            
                <div class="edi-section-header__content  ">
                    
                        <div class="edi-section-header__heading-subtitle subtitle-">ประกันรถยนต์ - ประกันภัยจักรยานยนต์ - พ.ร.บ. - ประกันการเดินทาง - ประกันอุบัติเหตุส่วนบุคคล - ประกันบ้านและอัคคีภัย - ประกันกลุ่ม</div>
                </div>
        </div>
      </app-card>
      <app-card [hidHeader]="true" >
          <div class="row">
              <div class="col-sm-3">
                <app-card [hidHeader]="true">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="javascript:" class="card-link">Card link</a>
                    <a href="javascript:" class="card-link">Another link</a>
                  </app-card>
              </div>
              <div class="col-sm-3">
                <app-card [hidHeader]="true">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="javascript:" class="card-link">Card link</a>
                    <a href="javascript:" class="card-link">Another link</a>
                  </app-card>
              </div>
              <div class="col-sm-3">
                <app-card [hidHeader]="true">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="javascript:" class="card-link">Card link</a>
                    <a href="javascript:" class="card-link">Another link</a>
                  </app-card>
              </div>
              <div class="col-sm-3">
                <app-card [hidHeader]="true">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="javascript:" class="card-link">Card link</a>
                    <a href="javascript:" class="card-link">Another link</a>
                  </app-card>
              </div>
          </div>
      </app-card>    
       <app-card [hidHeader]="true" >
        <h2>ลูกค้าพูดถึง Frank อย่างไรบ้างนะ...</h2>
        <div class="row">
            <div class="col-sm-3">
              <app-card [hidHeader]="true">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="javascript:" class="card-link">Card link</a>
                  <a href="javascript:" class="card-link">Another link</a>
                </app-card>
            </div>
            <div class="col-sm-3">
              <app-card [hidHeader]="true">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="javascript:" class="card-link">Card link</a>
                  <a href="javascript:" class="card-link">Another link</a>
                </app-card>
            </div>
            <div class="col-sm-3">
              <app-card [hidHeader]="true">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="javascript:" class="card-link">Card link</a>
                  <a href="javascript:" class="card-link">Another link</a>
                </app-card>
            </div>
            <div class="col-sm-3">
              <app-card [hidHeader]="true">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="javascript:" class="card-link">Card link</a>
                  <a href="javascript:" class="card-link">Another link</a>
                </app-card>
            </div>
        </div>
       </app-card> 
       <app-card [hidHeader]="true" >
        <ngb-accordion [closeOthers]="true" activeIds="static-1" class="gradientaccordion">
            <ngb-panel id="static-1">
              <ng-template ngbPanelTitle>
                <h5><a href="javascript:">Collapsible Group Item #1</a></h5>
              </ng-template>
              <ng-template ngbPanelContent>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                labore sustainable VHS.
              </ng-template>
            </ngb-panel>
            <ngb-panel id="static-2">
              <ng-template ngbPanelTitle>
                <h5><a href="javascript:">Collapsible Group Item #2</a></h5>
              </ng-template>
              <ng-template ngbPanelContent>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                labore sustainable VHS.
              </ng-template>
            </ngb-panel>
            <ngb-panel id="static-3">
              <ng-template ngbPanelTitle>
                <h5><a href="javascript:">Collapsible Group Item #3</a></h5>
              </ng-template>
              <ng-template ngbPanelContent>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                labore sustainable VHS.
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
       </app-card>
      
</div>