<app-card [hidHeader]="true" cardClass="mb-0">
    <h1 class="text-center">ประกันรถยนต์</h1>
    <div class="row">
      <div class="col text-center">
        รวดเร็ว เรียบง่าย และจริงใจกับคุณ
      </div>
    </div>
    
    <div class="row">
    <div class="col-sm-4"> <img class="card-img-top" src="assets/images/slider/img-slide-3.jpg" alt="Card image cap" />
    </div>
    <div class="col-sm-4 well">
        <div class="row">
            <div class="col text-center">
                รายละเอียดรถ 
            </div>
          </div>
          <div class="row  m-t-10">
            <div class="col text-center">
                <select name="select" class="form-control form-control-default">
                    <option value="opt1">ยี่ห้อ</option>
                    <option value="opt2">Type 2</option>
                    <option value="opt3">Type 3</option>
                    <option value="opt4">Type 4</option>
                    <option value="opt5">Type 5</option>
                    <option value="opt6">Type 6</option>
                    <option value="opt7">Type 7</option>
                    <option value="opt8">Type 8</option>
                  </select> 
            </div>
          </div>
          <div class="row  m-t-10">
            <div class="col text-center">
                <select name="select" class="form-control form-control-default">
                    <option value="opt1">รุ่นรถ</option>
                    <option value="opt2">Type 2</option>
                    <option value="opt3">Type 3</option>
                    <option value="opt4">Type 4</option>
                    <option value="opt5">Type 5</option>
                    <option value="opt6">Type 6</option>
                    <option value="opt7">Type 7</option>
                    <option value="opt8">Type 8</option>
                  </select> 
            </div>
          </div>
          <div class="row  m-t-10">
            <div class="col text-center">
                <select name="select" class="form-control form-control-default">
                    <option value="opt1">ปีจดทะเบียน</option>
                    <option value="opt2">Type 2</option>
                    <option value="opt3">Type 3</option>
                    <option value="opt4">Type 4</option>
                    <option value="opt5">Type 5</option>
                    <option value="opt6">Type 6</option>
                    <option value="opt7">Type 7</option>
                    <option value="opt8">Type 8</option>
                  </select> 
            </div>
          </div>
          <div class="row">
            <div class="col text-center ">
              <button type="button" class="mt-3 btn btn-warning" [routerLink]="['/detail']">ค้นหาเบี้ยประกัน</button>
            </div>
          </div>
    </div>
    <div class="col-sm-4">
        <img class="card-img-top" src="assets/images/slider/img-slide-3.jpg" alt="Card image cap" />
                  
    </div>
    </div>
</app-card>